*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 10px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right,#0091ffd7, #0044ffcc), url(assets/strategy.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.centered_head{
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.name{
    font-weight: 600;
    font-size: 40px;
    display: block;
    letter-spacing: 1.7px;
    animation-name: moveRight;
    animation-duration: 1s; 
}

.detail{
    font-weight: 500;
    font-size: 20px;
    display: block;
    animation-name: moveLeft;
    animation-duration: 1s; 
}

.about{
    display: inline-block;
    background-color: white;
    border-radius: 100px;
    margin: 10px;
    padding: 15px 20px;
    text-decoration: none;
}

/* 
    animation
*/

@keyframes moveRight{
    0%{
        opacity: 0;
      transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveLeft{
    0%{
        opacity: 0;
      transform: translateX(100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
    }
}