/* Style.css for body done By Handsum Muse */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#container {
    background: rgb(87, 22, 15) url(assets/mac_book_pro_2.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    font-family: Alef;
}

#content {
    width: 100%;
    display: flex;
    align-items: center;
}

#content-caption {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 100;
    font-family: Alef;
    max-width: 60rem;
    margin: 20px auto;
    text-align: center;
}

#content-caption h1 {
    width: 60%;
    letter-spacing: 0.4rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 70px auto; 
    border-bottom: 2px solid silver;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    align-content: space-between;
}

.flex-container div {
    width: 30%;
    margin: 20px auto;
    height: 500px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

div .box1 {
    width: 80%;
    height: 350px;
    margin: 50px auto;
    padding: 30px 8px;
    background-color: rgb(211, 43, 43);
    border-radius: 50%;
}

div .box2 {
    background: url(assets/Handsum.jpg) center center no-repeat;
    background-size: cover;
    width: 80%;
    height: 350px;
    margin: 50px auto;
    padding: 30px 8px;
    background-color: rgb(211, 29, 29);
    border-radius: 50%;
}

div .box3 {
    width: 80%;
    height: 350px;
    margin: 50px auto;
    padding: 30px 8px;
    background-color: rgb(196, 43, 43);
    border-radius: 50%;
}

.persona_name {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: -0.1px;
}

.persona_role {
    color: rgb(233, 223, 223);
    font-size: 1.4em;
}

.footer{
    display: flex;
    height: 55vh;
    width: 100%;
    background: rgb(24, 29, 32)
}

.footer .box{
  color: aliceblue;
  font-family: Alef;
  padding:  -10px;
  width: 50%;
  margin: 40px;
  font-size: 20px;
}

.box .left {
  padding: 30px; 
  margin: 10px;
}

.display {
    display: flex;
}

.icon{
    width: 20%;
}

div img{
    height: 40px;
}
.box .right{
  padding: 20px;
  margin: 15px;
}

