.footer{
    display: flex;
    height: 75vh;
    width: 100%;
    background: rgb(24, 29, 32)
}

.footer .box{
  /* background-color: dodgerblue; */
  color: aliceblue;
  font-family: sans-serif;
  padding:  -10px;
  width: 50%;
  margin: 40px;
  line-height: 25px;
  font-size: 20px;
}
.box .left {
  /* border: 5px solid black; */
  padding: 30px; 
  margin: 10px;
}
.display {
    display: flex;
}
.icon{
    width: 20%;
}
.box .right{
  /* border: 5px solid black; */
  padding: 30px;
  margin: 10px;
}
